<?xml version="1.0" encoding="UTF-8"?>
<jnlp spec="$jnlpspec" codebase="http://www.danielkamakura.com/datalogger" href="datalogger.jnlp">
	<information>
		<title>Datalogger</title>
		<vendor>Kamakura's Consulting</vendor>
		<description>Datalogger</description>
		<icon href="icon.png"/>
		<icon href="splash.png" kind="splash"/>
#if($offlineAllowed)
		<offline-allowed/>
#end
	</information>
#if($allPermissions)
	<security>
		<all-permissions/>
	</security>
#end
	<resources>
		<j2se version="1.6+"/>
		$dependencies
	</resources>
	<resources os="Linux"> 
		<nativelib href="lib/rxtx-native-2.1.7-linux.jar"/>	
    </resource>
    <resources os="Windows"> 
		<nativelib href="lib/rxtx-native-2.1.7-windows.jar"/>	
    </resource>
	
	<application-desc main-class="$mainClass"/>
</jnlp>